<%- include('base_header', {title: "Profil"}); %>
  <label for="name">Nazwa użytkownika: </label> <label id="name"><%= name %></label>
  <br>
  <label for="games">Rozegrane gry: </label> <label id="games"><%= games %></label>
  <br>
  <label for="wins">Wygrane gry: </label> <label id="wins"><%= wins %></labe;>
  <br>
<%- include('footer', {script: "/redirectButtons.js"}); %>